.toolbar {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 25px;
  margin-bottom: 5px;

  -webkit-box-shadow: 2px 1px 5px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 1px 5px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 1px 5px 0px rgba(34, 60, 80, 0.2);
}

svg {
  width: 15px;
  height: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}
